################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/pkg/windows_amd64
/src
/rsrc.syso
/portaudio_x64.dll
/main.exe
